.directory-row-item-done-icons-container {
  margin-left: 15px;
  color: grey;
}
.directory-row-item-comment-icon-container span {
  color: grey;
}
.directory-row-item-eye-icon-container {
  margin-left: 30%;
}