#right-section-container {
/*  background-color: purple; */
  height: 100vh;
  margin: 0;
  width: 100vw;
}
#third-col-container {
/*  background-color: green; */
  margin-top: 8px;
}
#breadcrumbs-container {
  margin-top: 8px;
}
#breadcrumbs a {
  text-decoration: none;
  color: grey;
}